.formulario {
  width: 20%;
  position: absolute;
  top: 21%;
  right: 0.5%;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.formulario h2 {
  margin-top: 0;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type='text'],
input[type='email'],
textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  color: #333;
}

button[type='submit'] {
  background-color: red;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #fff;
  color: #000;
}
